<!DOCTYPE html>
<html lang="en">

<head>
    <title>RecipeApp Recipes</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}
    <link rel="shortcut icon" href="{% static 'recipes/images/favicon.png' %}">
    <link rel='stylesheet' type='text/css' href="{% static 'recipes/css/styles.css' %}">
    <style type="text/css">
        body {
            background: url("{% static 'recipes/images/home_background.jpg' %}") no-repeat fixed;
            background-size: cover;
        }
    </style>
</head>

<body>
    <div class="nav-bar">
        <img id="logo" src="{% static 'recipes/images/logo.png' %}" height="100px" width="150px">
        <div class="search_box">
            <form action="" method="GET" class="form">
                {% csrf_token %}
                <input type="text" name="recipe_search" class="form_search_input"
                    placeholder="Search Recipes & Ingredients" value="{{ form.recipe_search.value }}" />
            </form>
            <br>
            {{ form.recipe_search.value|default_if_none:"No search" }}

            {% if 1 == 2 %}
            <div class="search_results">
                {% for object in object_list %}
                {% if 'S' in object.name %}
                <p style="display: flex;"><a class="recipe_name" href="{{object.get_absolute_url}}"> {{object.name}}
                    </a></p>
                <hr>
                {% endif %}
                {% endfor %}
            </div>
            {% endif %}
        </div>
        <a href="{%url 'logout' %}" class="logout_btn">
            Logout
        </a>
    </div>

    <div class="recipe_grid">
        {% for object in object_list %}
        <div class="grid_item">
            <h4><a class="recipe_name" href="{{object.get_absolute_url}}"> {{object.name}} </a></h4>
            <div style="margin-bottom: 10px;">
                <b>Cooking Time: </b> {{object.cooking_time}} <br>
                <b>Difficulty: </b> {{object.calculate_difficulty}} <br>
            </div>
            <img class="food_images" src="{{object.pic.url}}" />
        </div>
        {% endfor %}
    </div>
    <a href="{%url 'recipes:search' %}" style="
        color: white; 
        background-color: rgba(0, 0, 0, 0.704); 
        border-radius: 8px; 
        padding: 7px;
        text-decoration: none;">
        Search Recipe Data
    </a>
</body>

</html>